<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="\static\style.css" type="text/css" />
  </head>
  <body>
    <table style="width: 25%">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Password</th>
      </tr>
      {% for i in datas %}
      <tr>
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.password}}</td>
      </tr>
      {% endfor %}
      <input type="number" name="id" />
      <a href="{{url_for('update')}}">update</a>
      <button type="submit">delete</button>
    </table>
  </body>
</html>
